main div img{
    height: 800px;
    width: 100%;
}
.mainchild1{
    margin-bottom: 8%;
}
header div{
    display: inline-block;
}

.right{
    margin-left: 950px;
}
.right span{
    margin-top: 15px;
    padding-left: 15px;
}
header{
    margin-bottom: 25px;
    margin-top: 5px;
    
}
header span:hover{
    background-color:rgb(178, 175, 175) ;
}
header span{
    padding: 8px;
    letter-spacing: 4px;
}
a{
    text-decoration: none;
}
.left{
    margin-left:10px ;
}
.mainchild2 div{
    width: 45%;
    height: 490px;
    /* border: 2px solid; */
     display: inline-block;
     margin-left: 30px;
}
.mainchild2{
    height: 500px;
    margin-top: 50px;
    margin-bottom: 10%;
}
.mainchild2 .para1{
    width: 35%;
}
.mainchild2 img{
    width: 100%;
    height: 100%;
    margin-left: 15%;
}

.mainchild2 .para1 h1{
    /* border: 2px solid; */
    margin-left: 25%;
    margin-top: 25px;
    margin-bottom: 40px;
    letter-spacing: 5px;
}
.mainchild2 .para1 h3{
    letter-spacing: 2px;
    margin-left: 30%;
    margin-top: 25px;
    margin-bottom: 25px;
}
.mainchild2 .para1 p{
    letter-spacing: 2px;
}
.mainchild2 .para1{
    margin-left: 10%;
}
.mainchild3
{
    height: 500px;
    margin: 0% 10% 15% 20%;

}
.mainchild3 div{
    width: 45%;
    height: 490px;
    display: inline-block;
}
.mainchild3 img{
    height: 100%;
    margin-left: 10%;
}
.mainchild3 div h1{
    margin-left: 32%;
    margin-bottom: 40px;
}
.mainchild3 div h2,h1{
    letter-spacing: 2px;
}
.mainchild3 div h2{
    margin-bottom: 15px;
}
input{
    display: block;
    width: 100%;
    padding: 20PX 0PX 20PX 0PX;
    margin-bottom: 15px;
}
input:hover{
    border-color: rgb(62, 37, 37);
}
button:hover{
    background-color:rgb(210, 201, 201);
}
button{
    border-style: none;
    padding: 5px;
}
.mainchild4{
    margin: 0% 10% 10% 20%;
}
.mainchild4 h1{
    letter-spacing: 2px;
    margin-bottom: 40px;
}
.mainchild4 h3{
    color: rgb(127, 117, 117);
}
footer p{
    margin-left: 48%;
}
footer{
    background-color: rgb(245, 238, 238);
    padding: 2.5%;
}

