.child{
    border: 2px solid;
    height: 30px;
    width: 30px;
    border-radius: 100px;
}
.container{
    display: flex;
    gap: 20px;
    justify-content: center;
    height: 700px;
    align-items: center;
}

.child-1{
    background-color: blue;
    animation: first 0.6s  4 alternate,
    second 0.2s ease-in-out 6 alternate,
    /* third1  1s linear infinite alternate-reverse; */
    third1  1s ease-in 3,
    forth1  0.5s linear 4 alternate-reverse;
  animation-delay: 0s, 2.4s,3.6s,6.6s;                  
  /* Delays:
     first = 0.6 × 4 = 2.4s
     second = 0.2 × 6 = 1.2s
     total before third = 3.6s
  */
    /* animation-direction: alternate; */
}
.child-2{
    background-color: red;
    animation: first 0.8s  4 alternate,
    second 0.3s ease-in-out 6 alternate,
    /* third2  1s linear infinite alternate-reverse; */
    third2  1s ease-in 3,
    forth2  0.5s linear 4 alternate-reverse;
  animation-delay: 0s, 2.4s,3.6s,6.6s; 
    /* animation-direction: alternate; */
}
.child-3{
    background-color: yellow;
    animation: first 0.9s  4 alternate,
    second 0.2s ease-in-out 6 alternate,
    /* third3  1s linear infinite alternate-reverse; */
    third3  1s ease-in 3,
    forth3  0.5s linear 4 alternate-reverse;
    animation-delay: 0s, 2.4s,3.6s,6.6s; 
    /* animation-direction: alternate; */
}
.child-4{
    background-color: green;
    animation: first 1s  4 alternate,
    second 0.3s ease-in-out 6 alternate,
    /* third4  1s linear infinite alternate-reverse; */
    third4  1s ease-in 3,
    forth4  0.5s linear 4 alternate-reverse;
    animation-delay: 0s, 2.4s,3.6s,6.6s; 
    /* animation-direction: alternate; */
}

@keyframes first {
    from{
        transform: translatey(-15px);  
    }
    to{
        transform: translatey(0px);
    }
}
 @keyframes second {
    from{
        transform: scaleY(1);
        border-radius: 10px;
        width: 15px;
    }
    to{
        transform: scaleY(2);
        border-radius: 10px;
        width: 15px;
    }
    
}
@keyframes third1 {
     0%{
        transform: translate(0);
    }
    25%{
        transform: translate(150px);
    }
    50%{
        transform: translate(150px,100px);
    }
    75%{
        transform: translate(0px,100px);
    }
    100%{
        transform: translate(0);
    }

    
}
 @keyframes third2 {
     0%{
        transform: translatex(50px);
    }
     25%{
        transform: translate(50px,100px);
    }
    50%{
        transform: translate(50px,100px);
    }
    75%{
        transform: translate(-50px,100px);
    }
    100%{
        transform: translate(-50px,0px);
    }
    
}
@keyframes third3 {
    0%{
        transform: translatey(100px);
    }
    25%{
        transform: translate(-100px,100px);
    }
    50%{
        transform: translate(-100px,0px);
    }
    
}
@keyframes third4 {
    0%{
        transform: translate(-140px,100px);
    }
    25%{
        transform: translate(-150px,0px);
    }
    50%{
        transform: translate(-50px,0px);
    }
    75%{
        transform: translate(-50px,100px);
    }
    100%{
        transform: translate(-140px,100px);
    }
    
}

@keyframes forth1 {
    from{
        transform: translate(0px);
    }
    to{
        transform: translate(50px,40px);
    }
}
@keyframes forth3 {
    from{
        transform: translate(0px);
    }
    to{
        transform: translate(-20px,40px);
    }
}
@keyframes forth2 {
    from{
        transform: translate(-50px,100px);
    }
    to{
        transform: translate(0px,80px);
    }
}
@keyframes forth4 {
    from{
        transform: translate(-50px,100px);
    }
    to{
        transform: translate(-70px,80px);
    }
}
