.interface{
    width: 400px;
    height: 600px;
    margin-left: 30%;
    border-radius: 22px;
    overflow: scroll;
    scrollbar-width: none;
}

header{
    font-size: 25px;
    /* background-color: black; */
    background-color: rgb(44, 21, 21);
    color: white;
    border-radius: 20px 20px 0px 0px;
    padding: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
    /* position: fixed; */
    position: sticky;
    top: 0px;
    z-index: 1;

}

header h3{
    display: inline;
    margin-left: 60px;
}
.bi-search{
    margin-left: 160px;
}
main img{
    height: 55px;
    border-radius: 50px;
    border:  2px solid;
    margin: 10px;
    width: 55px;
}
main{
    background-color: black;
}
.container-1{
    position: relative;
}
.container-1 p{
    color: white;
    display: inline;
    position: absolute;
    margin-left: 10px;
    font-size: 20px;
}
.container-1 .p2{
    position: absolute;
    left: 80%;
 
    font-size: 10px;
    top: 15px;
}
main .side-icons div {
    color: aliceblue;
    font-size: 30px;
    margin-left: 80%;
    margin-right: 5%;
    margin-bottom: 10px;
    background-color: rgb(65, 38, 38);
    border-radius: 80px; 
}
.side-icons .foot-2{
    font-size: 40px;
}
.side-icons{
    position: fixed;
    top: 480px;
    width: 10%;
    margin-left: 200px;
    padding: 0px;
}
.side-icons i{
    margin-left: 20%;
}
.side-icons .foot-2{
    background-color: blueviolet;
    padding: 10px 1px 10px 0px;
    /* padding: 10px; */
    width: 40%;
    
}
.side-icons .foot-1{
 padding-left: 5px;
 width: 40%;
}

main a{
    text-decoration: none;
    color: white;
}
details summary{
    list-style: none;
    display: inline-block;
    position: absolute;
    font-size: 35px;
}

header ol{
    /* background-color: rgb(65, 38, 38); */
    background-color: rgb(44, 21, 21);
    position: absolute;
    top: 49px;
    list-style: none;
    padding-left: 0px;
    /* margin-left: 0px; */
    border-radius: 0px 0px 20px 20px;
}
.threelines img{
    width: 80px;
}
.part1{
display: flex;
gap: 150px;
align-items: center;
color: white;
}
.userdata p{
font-size: 20px;
margin-bottom: 0px;
margin-left: 20px;
}
.userdata{
    display: flex;
    flex-direction: column;
}
.threelines{
    padding-bottom: 10px;
    /* background-color: rgb(44, 21, 21); */
}
.li2{
    display: flex;
    justify-content: space-between;
    margin: 10px 4px 10px 20px;
    font-size: 23px;
}
.li2 i{
    height: 30px;
}



